body {
  background-image: url(https://static.wikia.nocookie.net/hollowknight/images/3/3e/Menu_Theme_The_Grimm_Troupe.png/revision/latest/scale-to-width-down/1000?cb=20220702012306&path-prefix=pt);
}
.descrition img {
  position: relative;
  width: 100%;
}
